*{
    background-color: #833059;
    align-content: center;
}
#speakButton{
    background: aquamarine;
    border-radius: 10px;
    align-items: center;
    font: 300;
    font-style: italic;

}
#one{
    color:#12185B;
  
  
}
#textToSpeak{
    background-color: aliceblue;
}